<template name="interest">

<div class='container' style='border:1px solid red'>
  <div class='row'>
    <div class='col-sm-2'>Company</div>
  <div class='col-sm-2'>Regarding</div>
  <div class='col-sm-3'>Message</div>
  <div class='col-sm-3'>Needs</div>
  <div class='col-sm-2'>Accept /  Reject</div>
  </div>
  {{#each msgs}}
  {{> msg}}
  {{/each}}

</div>
</template>

<template name="msg">
  <div class='row'>
  <div class='col-sm-2'>{{company.name}} <a href="/company/{{company._id}}" target="_blank">More</a></div>
  <div class='col-sm-2'>{{project.hline}}</div>
  <div class='col-sm-3'>{{message}}</div>
  <div class='col-sm-3'>
    {{#each about}}
    {{this}}
    {{/each}}
  </div>
  <div class='col-sm-2'><button type="button" class="btn btn-success">Accept</button> <button type="button" class="btn btn-danger">Reject</button></div>
</div>

</template>
