<template name="companyFoundry">

  <body>

    <!-- <div class="main_nav">
    <div class="container">
    <div class="nav">
    <ul>
    <li>BROWSE</li>
    <li>IMPACT</li>
    <li>ABOUT</li>
  </ul>
</div>
</div>
</div> -->


<div class="main_body">
  <div class="container relative">
    <div class="row">
      {{#with company}}
      <div class="logo"><img src="{{logo}}" /></div>
      <div class="rep-name">We are: <strong>{{name}}</strong></div>

      {{#with linkRepresentative }}

      <div class="rep-name">Rep Name: <strong>{{name}}</strong></div>
      <div class="rep-role">Rep Role: <strong>{{user_title}}</strong></div>
      <div class="project-logo"><img src="{{user_photo}}" /></div>
      {{/with}}
    {{/with}}
    </div>

    <div class="clear"></div>

    {{#with company}}
    <div class="row">
      <div class="description"><h4>About us: </h4><span>{{about}}</span></div>
      <!-- <div class="new-project"><button><label>Add Project</label></button></div> -->
    </div>

    <div class="clear"></div>
    <div class="row-line"></div>

    <div class="row">
      <div class="recent-location"><strong>Location:</strong>{{loc}}</div>
      <div class="recent-news"><strong>Recent News:</strong>{{news}}</div>
    </div>
    {{/with}}


    <h4> Our Projects: </h4>

    {{#each projects}}
      {{> projectSummaryFoundry}}
    {{/each}}


  </div>

</div>
</body>


</template>


<template name="projectSummaryFoundry">
  <div class="row-line"></div>

  <div class="row">
    <div class="project-image"><img src="{{img}}" /></div>
    <div class="project-msg">{{hline}}</div>
    <!-- <div class="project-msg">Duis malesuada aliquet fermentum. Praesent nisl dui, pharetra ac arcu et, viverra tempus sem. Donec risus massa, sollicitudin ac pharetra at, congue sit amet nulla. Nunc eget pharetra diam. Nullam nec libero orci. Suspendisse potenti. Sed mollis ut tortor a ullamcorper. </div> -->
    <div class="project-msg">
      <strong> Environment: {{impact_e}}</strong>
      <br  /><strong>Health: {{impact_h}}</strong>
      <br  /><strong>Humanity: {{impact_r}}</strong>
    </div>

    <div class="clear"></div>

    <div class="row">
      <!-- <div class="row-button-learn"><button><label>Learn More</label></button></div> -->
      <a type="button" class="btn btn-success" href='/project/{{_id}}' align='left'>Learn more</a>

      <!-- <div class="row-button-request"><button><label>Request a CallBack</label></button></div> -->
      {{#if isRegistered}}

        {{> autoformModals}}

        {{#afModal class="btn btn-primary" collection="ContactReqs" operation="insert" omitFields="projectId,from_id,to_id,status" formId="makeContactReq"}}
          Request Callback
        {{/afModal}}

      {{/if}}

    </div>
    <div class="clear"></div>
  </div>
</template>




<template name='companyFoundryAlt'>
  <div class="main_body-project">
    <div class="container relative">
      {{#with company }}
      <h1>{{name}}</h1>
      <!-- <h3><a href="/company/{{company_id}}">with {{linkCompany.name}}</a></h3> -->

      <div class="left-side-panel">
        <div class="project-info">
          <!-- <img src="/images/Product Collaboraiton.png" />
          <br  /> <strong>30 Days left to apply</strong>
          <br  />  Function: <strong>Collaboration</strong>
          <br  /> Industry: <strong>Construction</strong>

          <br  /> Start Date: <strong>{{startDate}}</strong>
          <br  />Duration: <strong>4 Months </strong> -->
        </div>
      </div>
      <div class="center-side-panel">
        <div class="image"><img style="width:100%; height:auto;" src="{{logo}}"></div>

        <div class="info-box">
          {{about}}
          <!-- <img src="/images/proj_headline.png" /><h2>Description</h2>
          <span>{{desc}}</span> -->
        </div>

        <div class="info-box">
          <!-- <img src="/images/proj_impact.png" /><h2>Impact</h2>
          <div class="img"></div> <span>Environment : {{impact_e}} <br>Health : {{impact_h}}<br>Rights : {{impact_r}}</span> -->
        </div>


        <div class="info-box">
          <!-- <img src="/images/proj_location.png" /><h2>Project Location</h2>
          <div class="img"></div>
          <div ><iframe width="600" height="337" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=51.5033630,-0.1276250&hl=es;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed" style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small></div>
          <div class="clear"></div> -->
        </div>


        <div class="info-box">
          <!-- <img src="/images/proj_owner.png" /><h2>About {{linkCompany.name}}</h2>
          <span>{{linkCompany.about}}</span> -->
        </div>


      </div>
      <div class="right-side-panel">
        <!-- {{> autoformModals}}

        {{#afModal class="btn btn-default" collection="ContactReqs" operation="insert" omitFields="project,from,to" formId="makeContactReq"}}
        Request Callback
        {{/afModal}} -->
      </div>

      {{/with}}

    </div> <!--container -->
  </div> <!--main_body-->


</template>
