<template name='companyEdit2'>
<div class="row">
<div class="col-md-4">
	{{#if isOwned}}
	{{> quickForm collection="Companies" id="editcmpny" type="update" doc=this.company omitFields="employees,isActive" autosave=true autosaveOnKeyup=true}}
	{{/if}}
	</div>
	<div class="col-md-8">
		<!--div id="view_company" disabled="true" class="canDarkOut" data-toggle="tooltip" title="Click to edit"-->
		<div id="view_company" disabled="true" class="canDarkOut" data-toggle="tooltip" title="Edit me on the left.">
			{{> companyHeader}}
			{{> companyAbout}}
			{{> companyNews}}
		</div>
	</div>
	
</div>

<div class="row">

		<div class="main-projects">
			<div class="container relative">

				{{#each projects}}
				<div disabled="true" class="canDarkOut editProject" data-toggle="tooltip" title="Click to edit" projectID="{{_id}}">
				{{> projectCard}}
				</div>
				{{/each}}

			</div>
		</div>

		<div class="clear"></div>

</div>

</template>

