<template name="search">
  <input type="text" id="search-box" placeholder="search here" />
  {{> searchResult}}
</template>

<template name="searchResult">
  <div id='search-result'>
    {{#each getProjects}}
    <div class="project">
      <h4 class="name">
        <a href="/project/{{_id}}" target="_blank">{{title}}</a>
      </h4>
      <div class="description">
        {{desc}}
      </div>
    </div>
    {{/each}}
  </div>
</template>



<!-- front page search bar -->
<template name="searchMenu2">
  <input type="text" id="search-box2" placeholder="search here"/>
  <!-- {{> searchResult2}} -->
</template>

<!-- front page search results output -->
<template name="searchResult2">
    {{#each getProjects}}
      {{> tmpfrontPageProject}}
    {{/each}}
</template>
