<template name='admin'>
  <h2>Profile: {{userMailAddress}}   </h2>

  <br>


  <!-- {{#if isRegistered.isActive = true}} -->
  {{#if isRegistered}}
    {{#with isRegistered}}
    <h4>My Details:</h4>
    <h6>Name:{{name}}</h6>
    <img src="{{user_photo}}" class="img-circle" alt="{{contact_name}}" width="100" height="100">
    <h6>Login ID:{{loginID}}</h6>
    <h6>Login email:{{loginEmail}}</h6>
    <h6>Registered As:{{registerAs}}</h6>
    <h6>Contact Me?:{{contact_bool}}</h6>
    <h6>Telephone:{{contact_num}}</h6>
    <h6>Email:{{loginEmail}}</h6>

    {{/with}}

    {{> autoformModals}}
    {{#afModal class="btn btn-primary" collection="UserProfiles" operation="update" doc=isRegistered._id}}
      Update Details ?
    {{/afModal}}


  <br><br>

  <h4>My registered companies:</h4>

  <br>

  {{#each myCompanies}}
    {{> admin_listCompanies}}
  {{/each}}

    <!-- add new company -->
    {{> autoformModals}}

    {{#afModal class="btn btn-primary" collection="Companies" operation="insert"}}
      Add New Company
    {{/afModal}}

  {{else}}
    <h4>would you like to register?</h4>
    {{> autoformModals}}
    {{#afModal class="btn btn-primary" collection="UserProfiles" operation="insert"}}
      Register
    {{/afModal}}

  {{/if}}


</template>






<template name='admin_listCompanies'>

  <div>
    <!-- <h5> _id: {{_id}} </h5> -->
    <h5> company: {{name}} </h5>
    <h5> headline: {{hline}} </h5>
    <h5> description: {{desc}} </h5>
    <h5> location: {{loc}} </h5>
    <h5>Created: {{createdAt}}</h5>

    <br>

    {{#each myProjects}}
      {{> admin_listProjects}}
    {{/each}}

    <br>

    {{> autoformModals}}
    {{#afModal class="btn btn-primary" collection="Projects" operation="insert" omitFields="company_id" formId="makeProject"}}
      Add Project
    {{/afModal}}
    <br>
    {{#afModal class="btn btn-primary" collection="Companies" id="editcmpny" operation="update" doc=this._id}}
      Edit Company
    {{/afModal}}

    {{> quickRemoveButton collection="Companies" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}


    <br><br>

  </div>

</template>

<template name='admin_listProjects'>

  <div class ='container'>

    <div class='col-sm-3'>
      <img src="{{img}}" class="img-circle" width="100" height="auto">
    </div>
    <div class='col-sm-3'><h6>{{title}}</h6></div>
    <div class='col-sm-3'><h6>{{hline}}</h6></div>
    <div class='col-sm-3'>
      {{> autoformModals}}
      {{#afModal class="btn btn-primary" collection="Projects" operation="update" omitFields="company_id" doc=_id}}
        Edit Project
      {{/afModal}}

      {{> quickRemoveButton collection="Projects" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}

      <br>
    </div>

  </div>

</template>



<template name='admin_housekeeping'>

  <div>

    <li><a href="/addReq1">Add Req Type</a></li>
    <li><a href="/addReq2">Add Req Amount</a></li>
    <li><a href="/addReq3">Add Req Timeframe</a></li>

    <br><br>

    <li><a href="/addCat">Add Category</a></li>
    <li><a href="/addSubCat">Add SubCategory</a></li>
  </div>
  <br><br>

  <div>
    <li><a href="/addStartup">Add Startup</a></li>
    <li><a href="/addCorporate">Add Corporate</a></li>
    <br><br>
    <li><a href="/addFeedback">Add Feedback</a></li>
    <br><br>
  </div>

</template>

<template name='admin_AddCompany'>
  {{> autoformModals}}

  {{#afModal class="btn btn-primary" collection="Companies" id="addCmp" operation="insert"}}
    Add New Company
  {{/afModal}}
</template>
