

<template name="splash">

<!-- <body style='margin:0; padding:0'> -->

<div style="position: fixed; z-index: -99; width: 100%; height: 100%; padding:0; margin:0;">
  <!-- <iframe frameborder="0" height="100%" width="100%"
    src ="https://www.youtube.com/embed/sfKhFktHtsI?autoplay=1&loop=1&modestbranding=1&controls=0&showinfo=0&autohide=1&playlist=sfKhFktHtsI">
  </iframe> -->
  <!-- <img src="/img/sunrise.jpg" alt="" /> -->
  <!-- <img class="splash" src="/img/sunrise.jpg" alt="" /> -->
  <img class="splash" src="/img/land.gif" alt="" />

<!-- {{filters}} -->

</div>

<div style="position: absolute; padding:50px; width: 600px; height: 300px">

  <span>
    <!-- <h4 style='color: #ffffff;'> discover  -  connect  -  share  </h4> -->
    <h4 style='color: #ffffff;'> . . .  </h4>
  </span>

  <span style="padding-top:50px;">

  <a type="button" class="btn btn-info btn-md" id='toLayout' href="/home">Development site</a>
  <a type="button" class="btn btn-info btn-md" id='toAbout' href="/about">About</a>
  <!-- <a type="button" class="btn btn-info btn-md" id='toRegister' href="{{loginButtons}}">Register</a> -->

</span>

</div>

<!-- </body> -->
  <!-- </div> -->



    <!-- {{> splashVideoBackground}} -->
    <!-- {{> splashContent}} -->

</template>
