
<template name='project'>

  <body style="margin:60px 15px 0px 15px;">

    <div  class="custombox" align=left style="min-height:120px;display:inline-block; left:0; text-align:left;">

      {{> projectHeader this}}
      {{> projectHdrBtns this}}

    </div>

    <div class="row">

      <div class="col-sm-2">
        {{> projectPanelLeft this}}
      </div>

      <div class="col-sm-10">
        {{> projectPanelCentre this}}
      </div>

    </div>

  </body>

</template>


<template name="projectHeader">

    <div  class="col-sm-2" style='width:200px;min-height:120px; margin:0 0 0 0; display:inline-block;float:left; text-align:left;'>

    <span class="glyphicon glyphicon-calendar" style='padding:0 10px 0 10px;color:#E56717;'></span><txt100 style="color:grey;">Project Dates:</txt100>
    <br>
    <txt75> End   : <strong style='color:grey;'>{{formatDate endDate}}</strong></txt75><br>
    <txt75> Start : <strong style='color:grey;'>{{formatDate startDate}}</strong></txt75><br>
    <txt75> (Notes): <strong> {{timeframe}} </strong></txt75>
    <br>

    <div class="clear"> </div>

    </div>

  <div class='col-sm-6' style='width:auto; max-width:900px; min-height:120px; margin:0 0 0 0; display:inline-block;float:left'>
    <center>
      <txt200>      {{hline}}    </txt200>
    </center>
  </div>

</template>

<template name="projectHdrBtns">
  <div class="col-sm-2" style='float:right;'>

    <br>
    <a type="button" class="btn btn-info btn-md btn-block" id='moreInfo' href="/company2/{{linkCompany._id}}">Explore {{linkCompany.name}}</a>
    <br>

  	  {{#if user}}

        {{> autoformModals}}

        {{#afModal class="btn btn-success btn-block" collection="ContactReqs" operation="insert" omitFields="project,from,to" formId="makeContactReq"}}
          Request Callback
        {{/afModal}}

  	  {{else}}
  	   <div class="btn btn-success btn-block"><txt75>Please Sign in to Request Callback</txt75></div>
  	  {{/if}}

    </div>

</template>


<template name="projectPanelLeft">

  <div class="project-info" style=" max-height:200px; margin:1px 1px 1px 1px;" align='left'>
    <span class="glyphicon glyphicon-heart-empty" style='padding:0 10px 0 10px;color:#E56717;'></span><txt150 style="vertical-align:50%;">Interactions:</txt150>
  </div>

    {{#each interactions}}

    <div class="project-info" style=" max-height:200px; margin:1px 1px 1px 1px;" align='middle'>
    <!-- <div class="project-info" style="max-width:150px; max-height:200px; margin:1px 1px 1px 1px;" align='middle'> -->
      <center>
        <img src="{{getInterestPic this}}" align='middle'/>
      </center>
      <h7>{{this}}</h7>

    </div>

    {{/each}}

    <div class="project-info" style=" max-height:200px; display:inline-block; margin:1px 1px 1px 1px;right:0;right:0;text-align:left;">
      <span class="glyphicon glyphicon-cog" style='padding:0 10px 0 10px;color:#E56717;'></span><txt100 style="vertical-align:50%;">Industry:</txt100><br>
	   {{#each linkCompany.industry}}
      <div class="my_row industry_div"><txt100>{{this}}</txt100></div>
	   {{/each}}
    </div>

  <!-- </div> -->

</template>

<template name="projectPanelCentre">
  <!-- main photo / picture -->
  {{#if img}}
  <div class="custombox" style='float:left;max-width:910px; min-height:200px;'>
    <!-- <span class="glyphicon glyphicon-picture" style='padding:0 10px 0 10px;color:#E56717;'></span><span><strong><sup> </sup></strong>	</span><br> -->
    {{#if img}}
      <img src="{{img}}" style="width:100%; height:auto;" />
    {{else}}
      <img src="{{linkCompany.logo}}" style="max-width:50%; height:auto;" />
    {{/if}}
  </div>
  {{/if}}

    <!-- description -->
    {{#if desc}}
    <div class="custombox" style='float:left;width:450px;min-height:200px;text-align:left;'>
      <span class="glyphicon glyphicon-tags" style='padding:0 10px 0 10px;color:#E56717;'></span><txt150 style="vertical-align:50%;">Project Description:</txt150><br>
      <txt100>{{desc}}</txt100>
    </div>
    {{/if}}

    <!-- location -->
    {{#if postcode}}
    <div class="custombox" style='float:left;width:450px;min-height:200px;text-align:left;'>
      <span class="glyphicon glyphicon-map-marker" style='padding:0 10px 0 10px;color:#E56717;'></span><txt150 style="vertical-align:50%;">Project Location:</txt150><br>

			{{#if lonLat}}
				{{#with lonLat this}}
				<div ><iframe width="100%" height="auto" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{this.lat}},{{this.lng}}&hl=es;z=14&amp;output=embed"></iframe></div>
				{{/with}}
			{{else}}
				<div class='my_row projectAddressManual'>
				{{company.addr}}
				<br>
				{{company.loc}}
				</div>
			{{/if}}

		<div class="clear"></div>
    </div>
    {{/if}}

    <!-- impact -->
    <div class="custombox" style='float:left;width:450px;min-height:200px;text-align:left;'>
      <span class="glyphicon glyphicon-flash" style='padding:0 10px 0 10px;color:#E56717;'></span><txt150 style="vertical-align:50%;">Impact:</txt150><br>
      <span>
      <txt100>
        <div class="my_row impact_div"><img class="icon col-sm-2" src="/images/icons/icon_E-impact.png" /> <div class="col-sm-10">Environment : <br>{{impact_e}}</div></div>
        <div class="my_row impact_div"><img class="icon col-sm-2" src="/images/icons/icon-H-impact.png" /> <div class="col-sm-10">Health : <br>{{impact_h}}</div></div>
        <div class="my_row impact_div"><img class="icon col-sm-2" src="/images/icons/icon-R-impact.png" /> <div class="col-sm-10">Humanity : <br>{{impact_r}}</div></div>
      </txt100>
      </span>
    </div>


    <!-- about company -->
    <div class="custombox" style='float:left;width:450px;min-height:200px; text-align:left;'>
      <span class="glyphicon glyphicon-info-sign" style='padding:0 10px 0 10px;color:#E56717;'></span><txt150 style="vertical-align:50%;">About {{linkCompany.name}}:</txt150><br>

        <txt100>
          {{linkCompany.about}}
        </txt100>
        <br>

        <img height="50px" src="{{linkCompany.logo}}"/>
    </div>

    <!-- project story -->
    {{#if story}}
      <div class="custombox" style='float:left;width:450px;min-height:200px;text-align:left;'>
        <span class="glyphicon glyphicon-book" style='padding:0 10px 0 10px;color:#E56717;'></span><txt150 style="vertical-align:50%;">Project background:</txt150><br>
          <txt100>          {{story}}        </txt100>
        </div>
    {{/if}}


</template>

<template name="projectPanelRight">

<div class="col-md-3" style='max-width:400px; padding:0 0 0 0; border:1px solid blue; ' align='middle'>

  <br>

  {{#with linkCompanyOwner this}}

    <row>

      <img class="profile-pic" src="{{user_photo}}" style='margin-bottom:2px; max-width:100px;float:left;' >
<br>
      <div class="col-sm-6" style='float:right;'>
        {{name}} <br>
        {{user_title}}
      </div>

    </row>

  {{/with}}

</div>

<br>
<br>

<div class="col-md-3" style='max-width:400px; padding:0 0 0 0; border:1px solid blue; ' align='middle'>

<a type="button" class="btn btn-info btn-md btn-block" id='moreInfo' href="/company2/{{linkCompany._id}}">Explore {{linkCompany.name}}</a>
</div>

<br>
<br>
</template>






<template name="projectCard">

      <div class="project-card left">
        <div style="width:430px;height:50px;">

        <row padding-top='5px' padding-bottom='5px'>
            {{#with linkCompanyOwner this}}
                <img class="profile-pic" src="{{user_photo}}" style='margin-bottom:2px' >

              <div class="col-sm-6">
                  {{name}}<br>
                  {{user_title}}
              </div>

            {{/with}}

                <div>
                  {{#each getInterestPics this}}
                  <img class="project-icon" src="{{this}}" align='middle'/>
                  {{/each}}
                </div>
        </row>
      </div>

        <div class="my_row" style="width:430px;height:200px;">
        <center>
          <img class='photobox' src="{{img}}" height ='100%' width='auto'/>
        </center>
        </div>


          <div class="fadeout">
            {{desc}}
          </div>


        <div class='goals'>



        {{#if impact_e}}
          <div class='my_row goal'><div class="col-sm-2"><img class="icon" src="/images/icons/icon_E-impact.png" /></div><div class="green col-sm-10 goal-fadeout">{{impact_e}}</div></div>
        {{else}}
			{{#if impact_h}}
			  <div class='my_row goal'><div class="col-sm-2"><img class="icon" src="/images/icons/icon-H-impact.png" /></div><div class="blue col-sm-10 goal-fadeout" >{{impact_h}}</div></div>
			{{else}}
				{{#if impact_r}}
				  <div class='my_row goal'><div class="col-sm-2"><img class="icon" src="/images/icons/icon-R-impact.png"/></div><div class="yellow col-sm-10 goal-fadeout">{{impact_r}}</div></div>
				{{/if}}
			{{/if}}
		{{/if}}



        </div>

        <div class="clear">      </div>

        <div  padding-bottom='3px'>

        <div class="location">
          <div class="container" style="margin:0; padding:0 5px 0 5px">
             <span style='float:left'>{{linkCompany.name}}</span>
             <span style='float:right'><strong>{{city}}, {{country}}</strong></span>
          </div>

        </div>
          <a type="button" class="btn btn-info btn-xs btn-block" id='moreInfo' href="/project/{{_id}}">Learn More</a>
        </div>


      </div>


  </template>
