<template name='about'>

  <br><br>
  <h1> About </h1>

  <div>
    <h3>
      Overall enviro metrics & human indicators
    </h3>

  </div>


  <div>
    <h4>
      CO2 emissions for ENV,
    </h4>
  </div>

  <div>
    <h4>
      Number of people reached for HEALTH,
    </h4>
  </div>

  <div>
    <h4>
      and number of people helped for HUMAN
    </h4>
  </div>


</template>


<template name='leaderboard'>

    <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
      <img src='/img/leaderboard.jpg' style='width:100%;height:100%' alt='[]' />
    </div>

</template>
