<template name='company'>

  <div class='container'>

    <div class='row'>

    {{#with company}}

      <div class='container'>

      <img src="{{logo}}" class="img-thumbnail" href={{url}} alt={{name}} width="100" height="auto">


      <!-- Company elements -->
      {{#with linkRepresentative}}
      <div class='col-sm-3'>
        <img src="{{user_photo}}" class="img-circle" alt={{contact_name}} width="100" height="auto">
      </div>
      <div class='col-sm-3'><h6>rep name: {{name}}</h6></div>
      <div class='col-sm-3'><h6>rep role: {{user_title}}</h6></div>

      {{/with}}
    </div>


      <div class='col-md-6'>
        <h6>-------------------------------------------</h6>
        <h4>We are {{name}}</h4>
        <h5>Headline: {{hline}}</h5>
        <h5>About: {{about}}</h5>
        <a href='{{url}}'> our website  >> {{url}}</a>
        fk knows why this won't href correctly... here's the url ->> {{url}}
        <br>

        <h6>-------------------------------------------</h6>
        <h5>location: {{loc}}</h5>
        <br>
        <h5>Recent news: {{news}}</h5>
        <h6>-------------------------------------------</h6>
    </div>

      <br>

      {{#if isOwned}}

        {{> autoformModals}}
        {{#afModal class="btn btn-primary" collection="Projects" operation="insert" omitFields="ownerId" formId="makeProject"}}
          Add Project
        {{/afModal}}

      {{/if}}
      <br>

 {{/with}}

  </div>

  <h4>Our Projects :</h4>

    {{#each projects}}
      {{> projectSummary}}
    {{/each}}

</div>

</template>

<template name="projectSummary">
  <div class='row'>
    <!-- <div class='col-sm-3'>{{_id}},{{title}}</div> -->
    <div class='col-sm-3'>

      {{title}}
      <br>
      <img src="{{img}}" class="img-rounded" href='/project/{{_id}}' alt="click me" width="100%" height=auto>
      <h6></h6>
      <a type="button" class="btn btn-success" href='/project/{{_id}}'>Learn more</a>
      {{#if isRegistered}}

        {{> autoformModals}}

        {{#afModal class="btn btn-primary" collection="ContactReqs" operation="insert" omitFields="projectId,from_id,to_id,status" formId="makeContactReq"}}
          Request Callback
        {{/afModal}}

      {{/if}}
    </div>
    <div class='col-sm-3'><h6>{{desc}}</h6></div>
    <div class='col-sm-3'><h6>{{interactions}}</h6></div>
    <div class='col-sm-3'>
      <h6>Environment: {{impact_e}}</h6>
      <h6>Health: {{impact_h}}</h6>
      <h6>Humanity: {{impact_r}}</h6>
    </div>


  </div>

</template>
