<template name='home'>

<style>
.companyBox{
  /*border:1px solid black;*/
  margin-bottom:30px;
}
.cause,.subcause,.interaction{
  display:inline-block;
  font-size:1.5em;
  border:2px solid black;
  padding:10px;
}

.cause.checked,.subcause.checked,.interaction.checked,.cause:hover,.subcause:hover,.interaction:hover{
  color: white;
  background: black;
}
</style>

<div class='container-fluid'>
  <div class='col-sm-12'>
    <div class='row'>
      <h1>About TGO</h1>

      <h2>Please Choose a Category :</h2>
      <div class='col-sm-10 col-sm-offset-2' style='margin-bottom:30px'>
        {{#each category}}
        <div class="checkbox cause">
          {{cat}}
        </div>
        {{/each}}
      </div>

      {{#if showSubCause}}
      <h2>Please Choose a Sub Category :</h2>
      <div class='col-sm-10 col-sm-offset-2' style='margin-bottom:30px'>
      {{#each subcat}}
      <div class="checkbox subcause">
        {{this}}
      </div>
      {{/each}}
    </div>
      {{/if}}

      {{#if showInteractions}}
      <h2>Please Choose an Interaction :</h2>
      <div class='col-sm-10 col-sm-offset-2' style='margin-bottom:30px'>
      {{#each interaction}}
      <div class="checkbox interaction">
        {{this}}
      </div>
      {{/each}}
    </div>
      {{/if}}


      {{#each visibleProjects}}
      <div class='col-sm-4 companyBox'>
        <img src='{{img}}' style='width:90%;height:auto'>
        <h1 style='margin-bottom: 0px;'>{{title}}</h1><a href='/project/{{_id}}'>More</a>
      </div>
      {{/each}}


    </div>
  </div>
</div>
  </template>
