<template name='home'>

<style>
.companyBox{
  /*border:1px solid black;*/
  margin-bottom:30px;
}
.cause,.subcause,.interaction{
  display:inline-block;
  font-size:1.5em;
  border:2px solid black;
  padding:10px;
}

.cause.checked,.subcause.checked,.interaction.checked,.cause:hover,.subcause:hover,.interaction:hover{
  color: white;
  background: black;
}
</style>

<div class='container-fluid'>
  <div class='col-sm-12'>
    <div class='row'>
      <h1>About TGO</h1>

      <h2>Cause : {{selCause}}</h2>
      <div class='col-sm-10 col-sm-offset-2' style='margin-bottom:30px'>
        {{#each category}}
        {{> cause}}
        {{/each}}
      </div>
    </div>
      <!-- {{#if showSubCause}} -->
      <h2>Category : {{selSubcat}}</h2>
      <div class='col-sm-10 col-sm-offset-2' style='margin-bottom:30px'>
      {{#each subcat}}
      {{> subcause}}
      {{/each}}
      <!-- {{/if}} -->

    </div>
      {{#if showInteractions}}
      <h2>Interaction : {{selInteraction}}</h2>
      <div class='col-sm-10 col-sm-offset-2' style='margin-bottom:30px'>
      {{#each interactions}}
      {{> interaction}}
      {{/each}}
    </div>
      {{/if}}


      {{#each visibleProjects}}
      <div class='col-sm-4 companyBox'>
        <img src='{{img}}' style='width:90%;height:auto'>
        <h1 style='margin-bottom: 0px;'>{{title}}</h1><a href='/project/{{_id}}'>More</a>
      </div>
      {{/each}}



  </div>
</div>
  </template>

<template name="cause">
  <div class="cause">
    {{cat}}
  </div>
</template>

<template name="subcause">
  <div class="subcause">
    {{this}}
  </div>
</template>

<template name="interaction">
  <div class="interaction">
    {{this}}
  </div>
</template>
