<template name="layout">
  <head>
    <title>The Good.org</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The Good.org</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addStartup">Add Startup</a></li>
            <li><a href="/addCorporate">Add Corporate</a></li>
            <li><a href="/addCompany">Add Company</a></li>
            <li><a href="/addFeedback">Add Feedback</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Display
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/leaderboard">'Leaderboard'</a></li>
            <li><a href="/list">All</a></li>
            <li><a href="/list2">All Corporates</a></li>
            <li><a href="/listCompanies">All Companies</a></li>
            <li><a href="/listReqConfig">All Config Items</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Settings</a></li>
            <li><a href="#">My Notifications</a></li>
            <li><a href="#">Company Profile</a></li>

            <li class="divider"></li>

            <li><a href="/addReq1">Add Req Type</a></li>
            <li><a href="/addReq2">Add Req Amount</a></li>
            <li><a href="/addReq3">Add Req Timeframe</a></li>

            <li class="divider"></li>

            <li><a href="/addCat">Add Category</a></li>
            <li><a href="/addSubCat">Add SubCategory</a></li>
          </ul>
        </li>

        <li style='padding-top:14px'>{{> loginButtons}}</li>



      </ul>

        <!-- <ul class="nav navbar-nav navbar-right">

      </ul> -->
    </div>
  </div>
</nav>
{{> yield}}
  </body>
</template>
