<template name='list'>

  <div class='container'>
    <h1>All Startups</h1>
      {{#each startups}}
        <h3>Name : {{name}}</h3>
        <h3>Description : {{description}}</h3>
        <h3>URL : {{url}}</h3>
        <h1>----------------------------------------------</h1>
      {{/each}}
  </div>
</template>


<template name='list2'>

  <div class='container'>
    <h1>All Corporates</h1>
      {{#each corporates}}
        <h3>Name : {{name}}</h3>
        <h3>Description : {{description}}</h3>
        <h3>URL : {{url}}</h3>
        <h1>----------------------------------------------</h1>
      {{/each}}
  </div>
</template>


<template name='startup'>

  <div class='container'>
    <div class='col-md-4'>
      <img src='{{img}}' style='width:100%;height:auto'>
    </div>
    <div class='col-md-6'>
      <h1>{{title}}</h1>
      <p>{{desc}}</p>
      <a href='/edit/{{_id}}'>Edit</a>
    </div>
  </div>
</template>

<template name='listCompanies'>
  <h1>All Companies</h1>
  <div class='container'>
    {{#each companies}}
      <h3>Name : {{name}}</h3>
      <h3>Description : {{description}}</h3>
      <h3>URL : {{url}}</h3>
      <h1>----------------------------------------------</h1>
    {{/each}}
  </div>
</template>




<template name='leaderboard'>

  <div class='container'>
    <h1>Collaborations</h1>
    {{#each collaborations}}
      <h3>Us : {{id_us}}</h3>
      <h3>Worked with : {{id_them}}</h3>
      <h3>On : {{project}}</h3>
      <h3>Detail : {{detail}}</h3>
      <h1>----------------------------------------------</h1>
    {{/each}}
  </div>

  <div class='container'>
    <h1>********************************************</h1>
    <h1>Feedback</h1>
      {{#each feedbacks}}
        <h3>Us : {{id_us}}</h3>
        <h3>Worked with : {{id_them}}</h3>
        <h3>On : {{project}}</h3>
        <h3>" : {{detail}}</h3>
        <h1>----------------------------------------------</h1>
        {{/each}}
  </div>
</template>
