<template name='nproject'>

  <div class='container'>

    <br>

      <div class='col-md-6'>

      <h5>In conjunction with...<a href='/company/{{ownerId}}'>{{linkCompany.name}}</a></h5>

      <img src={{img}} style='width:200px;height:auto'>
      <h2>Looking for:</h2>
      <ol>
        {{#each interactions}}
        <li>{{this}}</li>
        {{/each}}
      </ol>


      {{#if isRegistered}}

        {{> autoformModals}}

        {{#afModal class="btn btn-primary" collection="ContactReqs" operation="insert" omitFields="project,from,to" formId="makeContactReq"}}
          Request Callback
        {{/afModal}}
      {{else}}
       <div class='btn btn-primary disabled' id='callback_btn'>Register to contact</div>
      {{/if}}

      <h3>{{title}}</h3>
      <br>
      <h4>Project headline:</h4>
      <h4>{{hline}}</h4>
      <br>
      <h5>Project Description:</h5>
      <h5>{{desc}}</h5>

      <h5>Location: {{location}}</h5>
      <br>
      <a href='/company/{{ownerId}}'> more initiatives within: {{linkCompany.name}}</a>
      <br>

      <br>
      <h6>----------Impact----------------</h6>
      <h5>Environment: {{impact_e}}</h5>
      <h5>Health: {{impact_h}}</h5>
      <h5>Humanity: {{impact_r}}</h5>
      <h6>--------------------------------</h6>
      <br>


      <br>
      <h6>----------Side Panel------------</h6>

      <h5>Start Date: {{startDate}}</h5>
      <h5>End Date: {{endDate}}</h5>
      <h5>Duration: {{duration}}</h5>
      <h5>Cause(s): {{categories}}</h5>
      <h5>Industry: {{linkCompany.industry}}</h5>
      <h5>Function(s): {{interactions}}</h5>
      <h6>--------------------------------</h6>
      <br>

      {{#with linkCompany}}
      <h6>----------About Parent Company: {{name}}------------</h6>
      <h5>Headline: {{hline}}</h5>
      <h5>About: {{about}}</h5>
      {{/with}}
      <h6>--------------------------------</h6>
      <br>




</div>

  </div>


</template>
