<template name="tmpfrontPageProject">
  <div class="profile-project-one left">
    {{#with linkCompany}}
      <img class="absolute-project-logo" src="{{logo}}" />
      {{/with}}
      <div class="project-image-big"></div>
      <h5>{{title}}</h5>
      <img src="{{img}}" border="0" class="absolute-project-image" /><span>{{hline}}
      </span>
      <span><img class="icon" src="images/image.png"  />0.2 tCO2 <img class="icon" src="images/image.png" />22 helped <a href="/project/{{_id}}" class="btn btn-default">Learn More</a></span>
      <div class="location">London</div>
      </div>

</template>
