/* CSS declarations go here */
h1{font-size:3em;}
p{
  word-break:break-all;
  font-size:2.5em;
}


/*SEARCH*/


#search-box {
  padding: 10px;
  width: 600px;
  border: 1px solid #eee;
  outline: 0;
  font-size: 15px;
}

#search-box2 {
  padding: 5px;
  width: 300px;
  border: 1px solid #eee;
  outline: 0;
  font-size: 10px;
}

#queryElements-box {
  padding: 0px;
  width: 400px;
  border: 1px solid #eee;
  outline: 0;
  font-size: 10px;
}

#search-result {
  margin: 20px 0 100px 0;
}

#search-meta {
  font-size: 13px;
  color: #666;
  height: 15px;
}

/* really hacky way to bet autoform working*/
.projectEditor .modal-content .modal-header .modal-title,
.projectEditor .modal-title .tooltip
{
  width:0px;
  height:0px;
  visibility: hidden !important;
  position: absolute !important;
}

.darkOut-OnOver:hover{
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 100;
}

.editCompany , .editProject  .project-card{
	color:black;
	text-align:left;
}

.remove-filter:hover{
	transform: scale(1.2);
}

.my_row::before, .my_row::after {
    content: " ";
    display: table;
	clear: both;
}


.bodyContent{
	padding-top:55px;
	padding-left:15px;
	padding-right:15px;
}

#login-dropdown-list{
	left:-175px;
}
.filter_tag{
    background-color: #e0edf5;
    border-radius: 3px;
    color: #2f5d92;
    line-height: 28px;
    margin: 3px 8px 6px 3px;
    padding: 3px 1px 3px 8px;
    white-space: nowrap;
}

.project {
  width: 600px;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.project .name {
  font-weight: 400;
}

.image-50x50 {
  width:50px;
  height:50px; }

.image-30x30 {
  width:30px;
  height:30px; }

  .no-projects-msg{
	background-color: white;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  .project-card { max-width:430px; width:100%; display:block; position:relative; background-color:#fff; padding-top:5px;
    margin-top:20px; margin-right:20px; margin-bottom:20px;
    border-top: 1px solid #4682B4}
  /*.project-card img { display:inline-block; float:left; padding-left:5px; }*/
  .project-card img.50x50 { height:50px; width:50px;}
  .project-card img.profile-pic { display:inline-block; float:left; margin:2px 0 2px 5px; height:50px; width:auto; }
  .project-card img.project-icon { display:inline-block; float:right; width:35px; height:35px; margin-right:3px;align:right;}
  .project-card img.photobox { max-height:200px; max-width:420px; height:auto; width:auto; align:middle;}

  .project-card h6 { display:block; float:left; margin:15px 0 10px 10px; }
  .project-card h5 { display:block; width:95%; margin:20px auto; padding-top:5px; }
  /*.project-card span { display:block; width:90%; margin:20px auto;  }*/
  .project-card .location { background-color:#c4c4c4; color:white; text-align:center;
                          width:100%; margin-top:5px; margin:5px 0 0 0; padding: 0 0 1px;}
  .project-card .learn-more-button { border:1px solid #000; background:#f2f2f2; float:right; color:#000; font-size:12px; padding:2px 8px; margin-right:10px;}
  .project-card .learn-more-button:hover { background:#ccc; }

  .project-card span.goals{ display:block; width:100%; margin:0 5px 0 5px;  }
  .project-card span.green { float:left; display:inline-block; color:green;  margin:0;}
  .project-card span.yellow { float:left; display:inline-block; color:#ccd300; margin:0; }
  .project-card span.blue { float:left; display:inline-block; color:#4682B4; margin:0; }

  .project-card div.fadeout{
    width: 430px;
    padding: 5px 5px 0 5px;
    /*margin: 5px 5px 0 5px;*/
    /*border-bottom: 3px solid #777;*/
    height:100px;
    overflow:hidden;
      text-overflow: ellipsis;
    content: "";
    position:relative;}

  .project-card div.fadeout:before{ content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 20px, white);}


  div.headerbox { height:50; width:400; }

  .nopadding {padding:0; margin:0;}

  .main_body_custom { width:100%; background-color:#fff; margin-top:5px; min-height:100px;max-height:150px; padding-bottom:5px; }
  .main_body_custom .row{ }


  .info-box_custom { display:block; min-height:50px; margin:25px 0; background-color:#fff; padding:15px; }
  .info-box_custom img { width:30px; height:30px; float:left; display:inline-block;  }
  .info-box_custom h2 {  display:inline-block; font-weight:300;  margin:0; padding:0; text-align:left; margin-bottom:25px; }
  .info-box_custom span { display:block; width:100%;  }

  .main_body-project_custom { width:100%; background-color:#f4f4f4; margin-top:10px; min-height:400px; }
  .main_body-project_custom h1 { text-align:left; font-weight:300; }
  .main_body-project_custom h3 { text-align:left; }

  .custombox { width:100%; background-color:#fff; font-family:Lato; min-height: 50px; display:block;
    /*padding-bottom:5px; padding-top:5px;*/
    padding: 5px 5px 5px 5px;    margin:5px 5px 5px 5px;}

  .custombox .std {width:430; min-height:200; width:100%;
      background-color:#fff; font-family:Lato; padding-bottom:5px 0 5px 0;    margin:5px 0 5px 0;}

  .customboxHeader { width:100%; background-color:#fff; margin-top:5px; padding-bottom:5px; font-family:Lato; margin:5px;min-height:90px;}

  .customboxInner { background-color:#fff; font-family:Lato; min-height: 50px;
    padding-bottom:5px;
    padding-top:5px;
    margin:5px;margin-top:5px;margin-bottom:5px;}


  .main_body-company { width:100%; background-color:#fff; margin-top:5px; min-height:150px; text-align:center; font-family:Lato; }
  .main_body-company h1 { text-align:left; font-weight:300; font-family: Lato;}
  .main_body-company h3 { text-align:left; font-family: Lato;}


  txt25{font-size:0.25em;font-family: Lato;}
  txt50{font-size:0.5em;font-family: Lato;}
  txt75{font-size:0.75em;font-family: Lato;}
  txt100{font-size:1em;font-family: Lato;color:grey;}
  txt200{font-size:2em;font-family: Lato;}
  txt300{font-size:3em;font-family: Lato;}
  txt400{font-size:4em;font-family: Lato;}

  txt10px{font-size:10px;font-family: Lato}
  txt12px{font-size:12px;font-family: Lato}
  txt14px{font-size:14px;font-family: Lato}
  txt16px{font-size:16px;font-family: Lato}
  txt18px{font-size:18px;font-family: Lato}
  txt20px{font-size:20px;font-family: Lato}

  .glyphicon.glyphicon-tags { font-size: 25px;  }
  /*.glyphicon.glyphicon-calendar { font-size: 25px;  }*/
  .glyphicon.glyphicon-flash { font-size: 25px;  }
  .glyphicon.glyphicon-heart-empty { font-size: 25px;  }
  .glyphicon.glyphicon-map-marker { font-size: 25px;  }
  .glyphicon.glyphicon-cog { font-size: 25px;  }
  .glyphicon.glyphicon-info-sign { font-size: 25px;  }
  .glyphicon.glyphicon-bullhorn { font-size: 25px;  }
  .glyphicon.glyphicon-user { font-size: 25px;  }
  .glyphicon.glyphicon-picture { font-size: 25px;  }
  .glyphicon.glyphicon-facetime-video { font-size: 25px;  }
  .glyphicon.glyphicon-eye-open { font-size: 25px;  }

  #imgDiv {height:80px;width:140px;}
  #imgDiv img {max-width:100%; max-height:100%;margin:auto;display:block;}

  .imgHdr {      display: block;      max-width:150px;      max-height:90px;      width: auto;      height: auto; }

  .container-3col {   margin: 0; width:400 }
  .container-3col left {  width:130;    float: left;}
  .container-3col centre { width:130;    float: left;}
  .container-3col right {   width:130; float: left;}

  .splashMain { max-width:1500px; width:100%; display:block; position:relative; padding-top:0;  margin:0 0 0; }

  img.splash {
    min-height: 100%;    min-width: 1024px;
    width: 100%;    height: auto;
    position: fixed; top: 0;    left: 0;}
