<template name="CoolPageSubPageB">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<h2 id="page_title" class="pull-left">
							Sub-page B
						</h2>
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> CoolPageSubPageBLoremIpsum}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="menu">
				{{> CoolPageSubPageBTabMenu}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="subcontent">
				{{> yield region='CoolPageSubPageBSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="CoolPageSubPageBLoremIpsum">
	<!-- {{#markdown}} -->
	Cu duo explicari cotidieque, sit te error corpora. Sit ut summo nostro facilis, quodsi dissentiet ut his. Duo alii illud essent cu, pri te lorem saperet. Sit nulla partiendo te, cum corpora definiebas in. Id quo fabellas partiendo suavitate, nam tation invidunt sadipscing ea.
	<!-- {{/markdown}} -->
</template>

<template name="CoolPageSubPageBTabMenu">
	<ul id="menu-items" class="nav nav-tabs">
		<li id="menu-item-simple" class="{{menuItemClass 'cool_page.sub_page_b.sub_page_b_1'}}">
			<a href="{{pathFor 'cool_page.sub_page_b.sub_page_b_1'}}">
				Sub-Page B-1
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'cool_page.sub_page_b.sub_page_b_2'}}">
			<a href="{{pathFor 'cool_page.sub_page_b.sub_page_b_2'}}">
				Sub-Page B-2
			</a>
		</li>
	</ul>
</template>
