
<template name="home">
<body>

  <!-- Add search bar... -->
  <div align="right">
    {{> searchMenu2}}
  </div>


  <div class="main_body">
      <div class="container relative textAlignCenter">

          <div class="project-one">
              <div class="projectOne-img-one">
              </div>
              <div class="projectOne-img-two">
              </div>
              <div class="projectOne-img-three">
              </div>
              <div class="projectOne-img-four">
              </div>
              <div class="projectOne-img-five">
              </div>

              <!-- <div class="project-one-msg-triangle">
                  <div class="project-one-msg-close"><img id="close-button-one" src="images/close.gif"></div>
                  <div class="">There are 5 projects<br /> in Green Technology<br />that need your help </div>
              </div> -->
              <div id="ProjectOneLabel">PLANET</div>
          </div>


           <div class="project-two">
              <div class="projectTwo-img-one">
              </div>
              <div class="projectTwo-img-two">
              </div>
              <div class="projectTwo-img-three">
              </div>
              <div class="projectTwo-img-four">
              </div>
              <div class="projectTwo-img-five">
              </div>
              <!-- <div class="project-two-msg-triangle">
                  <div class="project-one-msg-close"><img id="close-button-two" src="images/close.gif"></div>
              <div>There are 5 projects<br /> in Green Technology<br />that need your help </div>
              </div> -->
                    <div id="ProjectTwoLabel">HEALTH</div>
           </div>


           <div class="project-three">
              <div class="projectThree-img-one">
              </div>
              <div class="projectThree-img-two">
              </div>
              <div class="projectThree-img-three">
              </div>
              <div class="projectThree-img-four">
              </div>
              <div class="projectThree-img-five">
              </div>
              <!-- <div class="project-three-msg-triangle">
                  <div class="project-one-msg-close"><img id="close-button-three" src="images/close.gif"></div>
                  <div>There are 5 projects<br /> in Green Technology<br />that need your help </div>
              </div> -->
              <div id="ProjectThreeLabel">RIGHTS</div>
           </div>

      <div class="clear"></div>

        <div class="project-nav-one">
          <div class="project-nav-project"><div class="project-nav-one-img-one"></div><span>Donate<br /> Materials</span></div>
          <div class="project-nav-project"><div class="project-nav-one-img-two"></div><span>Monetary <br /> Donations</span></div>
          <div class="project-nav-project"><div class="project-nav-one-img-three"></div><span>Volunteering</span></div>
          <div class="project-nav-project"><div class="project-nav-one-img-four"></div><span>Research <br />Agreements</span></div>
          <div class="project-nav-project"><div class="project-nav-one-img-five"></div><span>Product<br /> Collaboration</span></div>
          <div class="project-nav-project"><div class="project-nav-one-img-six"></div><span>Brand <br />Collaboration</span></div>
          <div class="project-nav-project project-nav-project-last"><div class="project-nav-one-img-seven"></div><span>Lecturing <br />Opportunities</span></div>
          <div class="project-nav-msg-triangle">
              <div class="project-nav-msg-close"><img id="close-button-nav" src="images/close.gif"></div>
              <div>You can refine<br />  your search by how you'd<br /> like to collaborate</div>
          </div>
      </div>

    </div>
  </div>

  <br>
  <div id="queryElements-box">
    Cause : {{cause}} <br>
    Interest : {{interest}}
    <!-- Interest : {{#each interest}}    {{this}}    {{/each}} -->
  </div>

      <div class="clear"></div>

      <!-- <div class="container container-smaller"> -->

      <div class="main-projects">

        {{> searchResult2}}


        <!-- <div class="container relative"> -->
          {{#each visibleProjects}}
          {{> projectCard}}
          {{/each}}
        <!-- </div> -->

      </div>

    <!-- </div> -->


</body>
</template>



<template name="projectCard">
  <!-- <div class="container container-smaller"> -->

    <div class="index-project-one left">
      {{#with linkCompanyOwner}}

      <img class="profile-pic" src="{{user_photo}}" height="50px" >
      <h6>{{name}}
        <br />{{user_title}}</h6>
      {{/with}}

        <div class = "row">
          {{#each getInterestPic}}
          <img class="project-icon" src="{{this}}" align='middle'/>
          {{/each}}
        </div>

        <!-- <img src="{{img}}" border="0" class="absolute-project-image"/> -->
        <center>
          <img src="{{img}}" border="0" height='auto' width='400px' display='block' margin='auto' align='middle'/>
        </center>
        <h5>{{linkCompany.name}}</h5>
        <span>{{hline}}</span>

        <!-- <div class = "row" > -->
          <img class="icon" src="/images/icons/icon_E-impact.png"  /><span class="green">{{impact_e}}</span>
          <img class="icon" src="/images/icons/icon-H-impact.png" /><span class="blue">{{impact_h}}</span>
          <img class="icon" src="/images/icons/icon-R-impact.png" /><span class="yellow">{{impact_r}}</span>
        <!-- </div> -->
        <a class="learn-more-button" href="/project/{{_id}}"> Learn More</a>

        <div class="clear"></div>
        <div class="location">{{location}}</div>
      </div>


    <!-- </div> -->
  </template>

<template name="projectCardOld">

  <div class="profile-project-one left">
    <!-- {{#with linkCompany}} -->
      <img class="absolute-project-logo" src="images/Product Collaboraiton.png" />
    <!-- {{/with}} -->
      <div class="project-image-big"></div>
    <h5>{{title}}</h5>
      <img src="{{img}}" border="0" class="absolute-project-image" />
        <span>{{hline}}</span>
        <span><img class="icon" src="/images/icons/icon_E-impact.png"/>  {{impact_e}} <img class="icon" src="/images/icons/icon-R-impact.png" />{{impact_r}} <a class="learn-more-button" href="/project/{{_id}}"> Learn More</a></span>
      <div class="location">{{location}}</div>
  </div>
</template>



<template name="tmpfrontPageProject">
  <div class="profile-project-one left">
    {{#with linkCompany}}
      <img class="absolute-project-logo" src="{{logo}}" />
      {{/with}}
      <div class="project-image-big"></div>
      <h5>{{title}}</h5>
      <img src="{{img}}" border="0" class="absolute-project-image" /><span>{{hline}}
      </span>
      <span><img class="icon" src="images/image.png"  />0.2 tCO2 <img class="icon" src="images/image.png" />22 helped <a href="/project/{{_id}}" class="btn btn-default">Learn More</a></span>
      <div class="location">London</div>
      </div>

</template>
