
<template name="home">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

<body>

  <!-- Add search bar... -->
  <div align="right">
    {{> searchMenu2}}
  </div>


  <div class="main_body" align='middle'>
    <!-- <span> -->
    <div class="container-smaller" align = 'middle'>
      <div class="container relative textAlignCenter">

          <div class="project-one">
              <div class="projectOne-img-one">
              </div>
              <div class="projectOne-img-two">
              </div>
              <div class="projectOne-img-three">
              </div>
              <div class="projectOne-img-four">
              </div>
              <div class="projectOne-img-five">
              </div>

              <!-- <div class="project-one-msg-triangle">
                  <div class="project-one-msg-close"><img id="close-button-one" src="images/close.gif"></div>
                  <div class="">There are 5 projects<br /> in Green Technology<br />that need your help </div>
              </div> -->
              <div id="ProjectOneLabel">PLANET</div>
          </div>


           <div class="project-two">
              <div class="projectTwo-img-one">
              </div>
              <div class="projectTwo-img-two">
              </div>
              <div class="projectTwo-img-three">
              </div>
              <div class="projectTwo-img-four">
              </div>
              <div class="projectTwo-img-five">
              </div>
              <!-- <div class="project-two-msg-triangle">
                  <div class="project-one-msg-close"><img id="close-button-two" src="images/close.gif"></div>
              <div>There are 5 projects<br /> in Green Technology<br />that need your help </div>
              </div> -->
                    <div id="ProjectTwoLabel">HEALTH</div>
           </div>


           <div class="project-three">
              <div class="projectThree-img-one">
              </div>
              <div class="projectThree-img-two">
              </div>
              <div class="projectThree-img-three">
              </div>
              <div class="projectThree-img-four">
              </div>
              <div class="projectThree-img-five">
              </div>
              <!-- <div class="project-three-msg-triangle">
                  <div class="project-one-msg-close"><img id="close-button-three" src="images/close.gif"></div>
                  <div>There are 5 projects<br /> in Green Technology<br />that need your help </div>
              </div> -->
              <div id="ProjectThreeLabel">RIGHTS</div>
           </div>

      <div class="clear"></div>

        <div class="project-nav-one">
          <div class="project-nav-project" interest="Donate Materials"><div class="project-nav-one-img-one"></div><span>Donate<br /> Materials</span></div>
          <div class="project-nav-project" interest="Monetary Donations"><div class="project-nav-one-img-two"></div><span>Monetary <br /> Donations</span></div>
          <div class="project-nav-project" interest="Volunteering"><div class="project-nav-one-img-three"></div><span>Volunteering</span></div>
          <div class="project-nav-project" interest="Research Agreements"><div class="project-nav-one-img-four"></div><span>Research <br />Agreements</span></div>
          <div class="project-nav-project" interest="Product collaboration"><div class="project-nav-one-img-five"></div><span>Product<br /> Collaboration</span></div>
          <div class="project-nav-project" interest="Brand Collaboration"><div class="project-nav-one-img-six"></div><span>Brand <br />Collaboration</span></div>
          <div class="project-nav-project project-nav-project-last" interest="Lecturing Opportunites"><div class="project-nav-one-img-seven"></div><span>Lecturing <br />Opportunities</span></div>
          <div class="project-nav-msg-triangle">
              <div class="project-nav-msg-close"><img id="close-button-nav" src="images/close.gif"></div>
              <div>You can refine<br />  your search by how you'd<br /> like to collaborate</div>
          </div>
      </div>

    </div>
</div>
<!-- </span> -->
  </div>

  <br>
  <div name="queryElements-box">
    <div class="custombox">

    Cause : {{cause}} <br>
    Interest : {{interest}}
    <!-- Interest : {{#each interest}}    {{this}}    {{/each}} -->
    </div>
  </div>

      <div class="clear"></div>

      <!-- <div class="container container-smaller"> -->

    </body>

      <div class="main-projects">

        {{> searchResult2}}


        <!-- <div class="container relative"> -->
          {{#each visibleProjects}}
          {{> projectCard}}
          {{/each}}
        <!-- </div> -->

      </div>

    <!-- </div> -->


</template>
