
<template name="home">

  <body style="margin:70px 15px 0px 15px;">

 <div id="filter_all">
    <div id="filter_graphic" class="main_body" align='middle' style="margin-bottom:5px;"> 

	<div class="my_row" style="padding-top:2px">
	<span align="left" class="glyphicon glyphicon-th-list" aria-hidden="true"  style="float:left;width:40px;height:40px"></span>
	
	
	    <img align="middle" class="small-filter-icon" src="/images/ENV-Browse.jpg">
		<img align="middle" class="small-filter-icon" src="/images/HEALTH-Browse.jpg">
		<img align="middle" class="small-filter-icon" src="/images/RIGHTS-Browse.jpg">
		<span style="padding-left:40px"></span>
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-one.png">
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-two.png">
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-three.png">
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-four.png">
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-five.png">
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-six.png">
		<img align="middle" class="small-filter-icon" src="/images/project-nav-one-img-seven.png">
		
	<a type="button" class="btn btn-info btn-sm" id='clearAllSelections' style='float:right; margin:0 10px 10px 0; align:middle; '>Clear All</a>	
	</div>
	  
      <div class="container-smaller" align = 'middle'>
        <div class="container relative textAlignCenter">

          <div class="project-one">
            <div cause="Wildlife & Habitat" class="projectOne-img-one">
            </div>
            <div cause="Sustainable Transport" class="projectOne-img-two">
            </div>
            <div cause="Sustainable Products" class="projectOne-img-three">
            </div>
            <div cause="Green Technology" class="projectOne-img-four">
            </div>
            <div cause="Energy Management" class="projectOne-img-five">
            </div>

            <!-- <div class="project-one-msg-triangle">
            <div class="project-one-msg-close"><img id="close-button-one" src="images/close.gif"></div>
            <div class="">There are 5 projects<br /> in Green Technology<br />that need your help </div>
          </div> -->
          <div class="causeLabel" id="ProjectOneLabel" title="Click to select all">Environment</div>
        </div>


        <div class="project-two">
          <div cause="Senior Health" class="projectTwo-img-one">
          </div>
          <div cause="Rehabilitation" class="projectTwo-img-two">
          </div>
          <div cause="Fitness & Exercise" class="projectTwo-img-three">
          </div>
          <div cause="Special Needs" class="projectTwo-img-four">
          </div>
          <div cause="Mental Health" class="projectTwo-img-five">
          </div>
          <!-- <div class="project-two-msg-triangle">
          <div class="project-one-msg-close"><img id="close-button-two" src="images/close.gif"></div>
          <div>There are 5 projects<br /> in Green Technology<br />that need your help </div>
        </div> -->
        <div class="causeLabel" id="ProjectTwoLabel" title="Click to select all">Health</div>
      </div>


      <div class="project-three">
        <div cause="Food & Shelter" class="projectThree-img-one">
        </div>
        <div cause="Accessibility" class="projectThree-img-two">
        </div>
        <div cause="Community" class="projectThree-img-three">
        </div>
        <div cause="Skills & Employment" class="projectThree-img-four">
        </div>
        <div cause="Education" class="projectThree-img-five">
        </div>
        <!-- <div class="project-three-msg-triangle">
        <div class="project-one-msg-close"><img id="close-button-three" src="images/close.gif"></div>
        <div>There are 5 projects<br /> in Green Technology<br />that need your help </div>
      </div> -->
      <div class="causeLabel" id="ProjectThreeLabel" title="Click to select all">Human Rights</div>
    </div>

    <div class="clear"></div>

    <div class="project-nav-one">

      <div class="project-nav-project" interest="Donate Materials"><div class="project-nav-one-img-one"></div><span>Donate<br /> Materials</span></div>
      <div class="project-nav-project" interest="Monetary Donations"><div class="project-nav-one-img-two"></div><span>Monetary <br /> Donations</span></div>
      <div class="project-nav-project" interest="Volunteering"><div class="project-nav-one-img-three"></div><span>Volunteering</span></div>
      <div class="project-nav-project" interest="Research Agreements"><div class="project-nav-one-img-four"></div><span>Research <br />Agreements</span></div>
      <div class="project-nav-project" interest="Product collaboration"><div class="project-nav-one-img-five"></div><span>Product<br /> Collaboration</span></div>
      <div class="project-nav-project" interest="Brand Collaboration"><div class="project-nav-one-img-six"></div><span>Brand <br />Collaboration</span></div>
      <div class="project-nav-project project-nav-project-last" interest="Lecturing Opportunites"><div class="project-nav-one-img-seven"></div><span>Lecturing <br />Opportunities</span></div>
      <div class="project-nav-msg-triangle" style="display: none;">
        <div class="project-nav-msg-close"><img id="close-button-nav" src="images/close.gif"></div>
        <div>You can refine your<br />search by restricting how you'd<br /> like to collaborate</div>
      </div>
    </div>



  </div>

</div>
<!-- </span> -->
<!-- <a type="button" class="btn btn-info btn-md" id='clearAllSelections' style='float:left'>Clear All</a> -->

</div>


<div name="queryElements-box">
  <div class="custombox" style ="padding:0; margin:0;padding-left:5px;">
	<div class="my_row">
		<div class="col-sm-1" style="width: 75px; padding-right: 5px; padding-left: 5px;">
			Cause : 
		</div>
		<div class="col-sm-11" style="padding-right: 0px; padding-left: 0px;">
			{{#each cause}}  <span class="filter_tag">&nbsp;&nbsp;&nbsp;  {{this}}   <img class="remove-filter" src="/images/close-tag.png" title="Remove" remove-cause="{{this}}">  </span> {{/each}}
		</div>
		<div class="col-sm-1" style="width: 75px; padding-right: 0px; padding-left: 0px;">
		</div>
	</div>
	<div class="my_row">
		<div class="col-sm-1" style="width: 75px; padding-right: 5px; padding-left: 5px;">
			Interest :
		</div>
		<div class="col-sm-11" style="padding-right: 0px; padding-left: 0px;">			
			{{#each interest}}  <span class="filter_tag">&nbsp;&nbsp;&nbsp; {{this}}   <img class="remove-filter" src="/images/close-tag.png" title="Remove" remove-interest="{{this}}">  </span> {{/each}}
		</div>
	</div>
  </div>
</div>
</div>
<div class="clear"></div>

<div class="main-projects">

  {{> searchResult2}}

  {{#if visibleProjects.count}}
  <!-- <div class="container relative"> -->
    {{#each visibleProjects}}
      {{> projectCard}}
    {{/each}}
  <!-- </div> -->
  {{else}}
    <div class='no-projects-msg'> There are currently no projects matching those requirements.</div>
  {{/if}}

</div>

</body>
</template>
