<!-- menu items etc -->

<template name="layout">
  <head>
    <title>(...title pending...)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar" display="none">
    <!-- <nav class="navbar navbar-inverse" display="none"> -->
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="/">The Good.org</a> -->

          <ul class="nav navbar-nav" style="max-width:100%">
            <li class="active"><a href="/">*</a></li>
            <li class="active"><a href="/home">Browse</a></li>
            <li class="active"><a href="/about">About</a></li>

			      <!-- <li class="active"><a href="/alt">Test</a></li>
            <li class="active"><a href="/admin">Settings</a></li> -->
            <!-- <li class="active"><a href="/newAdmin">Admin</a></li> -->


            {{#if currentUser}}
              {{> layout_loggedin}}
            {{else}}
              {{> layout_loggedout}}
            {{/if}}

            <li style='padding-top:14px'>{{> loginButtons}}</li>


          </ul>

      </div>
    </div>
  </nav>

  <!-- <div class='container'> -->
  {{> yield}}
  <!-- </div> -->

</body>
</template>

  <template name="layout_loggedin">
	   <li class="active"><a href="/search">Search</a></li>
     <li class="active"><a href="/map">Map</a></li>
     <li class="active"><a href="/impact">Impact</a></li>
     <li class="active"><a href="/editProfile">My Profile</a></li>
  </template>

  <template name="layout_loggedout">

  </template>


  <template name="layout_displayItems">

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Display
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!-- ... -->
        </ul>
      </li>
    </template>
