<template name="editProfile">
	<body style="margin:60px 15px 0px 15px;">

{{> autoformModals}}
<div class="my_row">
<h3><div class="col-md-6" align="left">My Profile:</div></h3>
</div>
<br>
<div class="my_row" style="text-align:left">
<div class="col-md-6">
{{> quickForm collection="UserProfiles" id="UserProfiles" type="update" doc=this.user omitFields="loginEmail,isAdmin" autosave=true autosaveOnKeyup=true}}
</div>
<div class="col-md-6">
	<h4>My Details:</h4>
    <h6>Name: {{user.name}}</h6>
    <img src="{{user.user_photo}}" class="img-circle" alt="{{user.name}}" width="100" height="100">
    <h6>Email: {{user.loginID}}</h6>
    <h6>Registered As: {{user.registerAs}}</h6>
    <h6>Contact Me?: {{user.contact_bool}}</h6>
    <h6>Telephone: {{user.contact_num}}</h6>
    <h6>Role: {{user.user_title}}</h6>

 </div>
 </div>
<br>
<div class="my_row editCompaniesHeader">
<h3><div class="col-md-6" align="left">Manage My Companies:  </div>
<div class="col-md-6" align="right">

        {{#afModal class="btn btn-primary" collection="Companies" operation="insert" omitFields="cid,employees,isActive" formId="makeCompney"}}
          Add New Company
        {{/afModal}}
</div>
</h3>
</div>
<br>
  {{#each companies}}

	<a href='/editCompany/{{company._id}}' class="darkOut-OnOver editCompany" data-toggle="tooltip" title="Click to edit">
	<div class="my_row custombox">
		<div class="col-md-10">
			{{> companyHeader}}
		</div>
		<div class="col-md-1 customboxInner">
			Project Count:<br>
			{{project_count}}
		</div>
	</div>
	</a>
	<br>
  {{/each}}
</body>
</template>
