<template name='editCompany'>
<div class="projectEditor">
{{> autoformModals}}
</div>
 <head>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>


<body style="margin:60px 15px 0px 15px;">

{{#if isOwned}}
<div class="editCompany">
	<div class="row">
		<h3><div class="col-md-6" align="left">Company details:</div></h3>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
		<!-- {{> quickForm collection="Companies" id="editcmpny" type="update" doc=this.company omitFields="cid,employees" autosave=true autosaveOnKeyup=true}} -->
    {{> updateCompanyForm this.company}}
		</div>
		<div class="col-md-8">
			<div id="view_company" disabled="true" class="editCompany darkOut-OnOver" data-toggle="tooltip" title="Edit me on the left.">

        {{> companyHeader}}
      	{{> companyAbout}}

      	{{> companyPhotos}}
      	{{> companyVideo}}

      	{{> companyLocation}}
      	{{> companyNews}}

			</div>
		</div>
	</div>
</div>

	<div class="row projectEditor">
	<h3><div class="col-md-6" align="left">Company projects:  </div>

    <div class="col-md-6" align="right">
        {{> addNewProject this }}
	  </div>

  </h3>
	</div>

  	<br>
    <div class="main-projects">
      <div class="container relative">

        {{#each projects}}

        <div style='height:600px; width:440px; display:block; float:left;'>

          <a href='/editProject/{{_id}}' class="darkOut-OnOver editProject" data-toggle="tooltip" title="Click to edit">
            <div disabled="true" class="darkOut-OnOver editProject" data-toggle="tooltip" title="Click to edit" projectID="{{_id}}">
              {{> projectCard}}
            </div>
          </a>

          <div style='align:middle;'>
            {{> quickRemoveButton collection="Projects" _id=this._id class="btn btn-danger"}}
          </div>

        </div>

        {{/each}}

      </div>
    </div>
			<div class="clear"></div>

{{else}}
	<div class="Unauthorised">You are not authorised to access this page!<br>Please contact support if this is incorrect.</div>
{{/if}}
</body>
</template>
