<template name="editProfile">

	<body style="margin:60px 15px 0px 15px;">
{{#if user}}
<!-- {{> autoformModals}} -->
<div class="my_row" style="text-align:left">

<!-- {{#if user}} {{else}} {{resetMyProfile}} {{/if}} -->
<!-- {{#if currentUser}} {{else}}
	{{#with resetMyProfile}}{{/with}}
{{/if}} -->

{{#with user}}

<div class="col-md-4">

	{{> UProfile this}}

</div>

<div class="col-md-6">

		<legend>View Profile:</legend>

    <h6>Name: {{name}}</h6>
    <img src="{{user_photo}}" class="img-circle" alt="{{user.name}}" width="100" height="100">
    <h6>Email: {{loginEmail}}</h6>
    <h6>Registered As: {{registerAs}}</h6>
    <h6>Contact Me?: {{contact_bool}}</h6>
    <h6>Telephone: {{contact_num}}</h6>
		<h6>Company: {{user_employer}}</h6>
    <h6>Role: {{user_title}}</h6>

 </div>


{{/with}}


 </div>
<br>

<div class="my_row editCompaniesHeader">

	<div class="col-md-6" align="left">
		<legend>	Manage My Companies:</legend>
	</div>

	<div class="col-md-3" align="left">
		<legend>	Manage My Projects:</legend>
	</div>

</div>

<br>

  {{#each myCompanies}}
	<div>

	<div class="my_row">
		<a href='/editCompany/{{_id}}' class="darkOut-OnOver editCompany" data-toggle="tooltip" title="Click to edit">
		<!-- <div class="my_row custombox"> -->

		<div class="col-md-6">

			<div class="custombox" style="display:inline-block; min-height:120px">

				<div style='width:200px; display:inline-block;float:left; align:middle'>
					<center>
						<img src="{{logo}}" align=left style='height:auto; width:auto;max-height:150px;'>
					</center>
				</div>

				<div style='max-width:800px; margin:0 0 0 50px; display:inline-block;float:left'>
					<txt200>{{name}}</txt200> <br>
					<txt100><i>{{hline}}</i></txt100>
				</div>

			</div>

		</div>

		</a>

			{{#each myProjects this}}

			<a href='/editProject/{{_id}}' class="darkOut-OnOver editCompany" data-toggle="tooltip" title="Click to edit">
			<div class="col-md-3 customboxInner" >

				<span class="glyphicon glyphicon-paperclip" style='padding:0 10px 0 10px;color:#07c;'></span><span>{{hline}}</span><br>
				<br>

			</div>
			</a>
			{{/each}}

	</div>

</div>

	<br>
  {{/each}}

	{{> addNewCompany}}

	<br>
{{else}} 
	<div class="Unauthorised">You are not authorised to access this page!<br>Please confirm you are logged in.<br>Else contact support if this is incorrect.</div>
{{/if}}

</body>
</template>


<template name="addNewCompany">

    <a type="button" class="btn btn-info btn-md" id='addNewCom'>Add New Company</a>

</template>
