<template name="editProject2">

  <body style="margin:60px 15px 0px 15px;">

  	<div class="row">

  		<div class="col-md-4">
        <legend>Edit Project</legend>

        {{> updateProjectForm this }}

  		</div>

      <div class="col-md-8" >
        <legend>View Project Detail
        <a type="button" class="btn btn-success btn-md" id='toMyProfile' href="/editProfile" style='float:right;'>Back to My Profile</a>
        </legend>

		      <div id="view_project" disabled="true" class="editProject2 darkOut-OnOver" data-toggle="tooltip" title="Edit me on the left.">

          <div  class="custombox" align=left style="min-height:120px;display:inline-block; left:0; text-align:left;">
              {{> projectHeader this}}
          </div>

          <div class="row">
            <div class="col-sm-2">
              {{> projectPanelLeft this}}
            </div>
            <div class="col-sm-10">
              {{> projectPanelCentre this}}
            </div>
          </div>

  			</div>

        <!-- summary view -->
        <legend>View Project Summary</legend>

        <div disabled="true" class="darkOut-OnOver editProject" data-toggle="tooltip" title="Click to edit" projectID="{{_id}}">
          {{> projectCard}}
        </div>

  		</div>


  	</div>

</body>

</template>
