<template name="updateCompanyForm">

  {{#autoForm collection="Companies" id="insertCompany" template="bootstrap3" doc=this type="update" operation=insert autosave=true}}

  <legend style='text-align:middle;'>Edit Company</legend>

  <div style="text-align:left;">

    <fieldset>
      
      <ul class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#home">Details</a></li>
		<li><a data-toggle="pill" href="#collapseMultiM">Media</a></li>
		<li><a data-toggle="pill" href="#collapseLoc">Location</a></li>
		<li><a data-toggle="pill" href="#collapseReps">Staff</a></li>
		<li><a data-toggle="pill" href="#collapseNews">News</a></li>
      </ul>
	  <div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<!-- basic -->
		  {{> afQuickField name='name' placeholder='company name' autofocus=''}}
		  {{> afQuickField name='hline' placeholder='company headline' }}
		  {{> afQuickField name='about' placeholder='tell us a bit about what you do' }}
		  {{> afQuickField name='logo' placeholder='http://your.company.logo here' }}
		  {{> afQuickField name='industry' placeholder='' }}
		</div>
		<div id="collapseMultiM" class="tab-pane fade">
          <!-- multimedia items -->
          {{> afQuickField name='url' placeholder='link to your website' }}

          {{> afQuickField name='img' placeholder='' }}
          {{> afQuickField name='youtubeLink' placeholder='in the format >> https://www.youtube.com/embed/xXxxXXxxxXXX pls' }}
		</div>
		<div id="collapseLoc" class="tab-pane fade">
          <!-- location items -->
          {{> afQuickField name='addr' placeholder='' }}
          {{> afQuickField name='loc' placeholder='' }}
		</div>
		<div id="collapseReps" class="employees tab-pane fade">
          <!-- admin employees -->
          {{> afQuickField name='employees' placeholder='' }}
        </div>
		<div id="collapseNews" class="tab-pane fade">
          <!-- news items -->
          {{> afQuickField name='twitter' placeholder='@Twitter' }}
          {{> afQuickField name='newslinks' placeholder='...www.info-here.co...' }}
        </div>
	   </div>

    </fieldset>

  </div>

  {{/autoForm}}

  <br>
  <span style='float:left;'>
    {{> quickRemoveButton collection="Companies" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
  </span>

</template>
