

<template name="updateProjectForm">

  {{#autoForm collection="Projects" id="insertExample" template="bootstrap3" doc=this type="update" operation=insert autosave=true}}

  <div style="text-align:left;">

    <fieldset>
      
	  
      <ul class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#home">Details</a></li>
		<li><a data-toggle="pill" href="#collapseStory">Background</a></li>
		<li><a data-toggle="pill" href="#collapseImpact">Impact</a></li>
		<li><a data-toggle="pill" href="#collapseLocation">Location</a></li>
		<li><a data-toggle="pill" href="#collapseDates">Dates</a></li>
      </ul>
	  <div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<!-- basic -->
		  {{> afQuickField name='hline' placeholder='project headline' autofocus=''}}
		  {{> afQuickField name='desc' placeholder='project description - this needs to be more than 20 characters long' }}
		
		<div class="row" style='text-align:left;'>
          <div class="col-sm-6">
            {{> afQuickField name='categories'}}
          </div>
          <div class="col-sm-6">
            {{> afQuickField name='interactions'}}
          </div>
		</div>

		  <!-- media -->
		  {{> afQuickField name='img' placeholder='http:// link to display main project image'}}
		  {{> afQuickField name='link' placeholder='http://mywebsite.com/myproject'}}
		  
		</div>
		<div id="collapseStory" class="tab-pane fade">
         {{> afQuickField name='story' placeholder='tell us a bit of background to the project here'}}
		</div>
		<div id="collapseImpact" class="tab-pane fade">
          <!-- impact -->
          {{> afQuickField name='impact_e' placeholder='eg. How many CO2 emissions can this project help reduce, or how many trees will you help plant'}}
          {{> afQuickField name='impact_h' placeholder='eg. How many people will you be able to help with this project?'}}
          {{> afQuickField name='impact_r' placeholder='eg. How many people will you be able to reach out to?'}}

		</div>
		<div id="collapseLocation" class="tab-pane fade">
          <!-- location -->
          {{> afQuickField name='city' placeholder='eg. London'}}
          {{> afQuickField name='country' placeholder='eg. UK'}}
          {{> afQuickField name='postcode' placeholder='eg. SW19 42P'}}
        </div>
		<div id="collapseDates" class="tab-pane fade">
         <!-- dates -->
          {{> afQuickField name='startDate' placeholder='YYYY-MM-DD'}}
          {{> afQuickField name='endDate' placeholder='YYYY-MM-DD'}}
          {{> afQuickField name='timeframe' placeholder='notes on project timeline eg. rolling start'}}
          {{> afQuickField name='status' placeholder='0% complete'}}
          <!-- {{> afQuickField name='active'}} -->
        </div>
	   </div>

  </fieldset>
    <!-- <button type="submit" class="btn btn-primary">Add</button> -->

    </div>

  {{/autoForm}}

  <br>

  <span style='float:left;'>
    {{> quickRemoveButton collection="Projects" _id=this class="btn btn-danger"}}
  </span>

</template>






<template name="addNewProject">

    <a type="button" class="btn btn-info btn-md" id='addNewPro'>Add New</a>

</template>
