


<template name="UProfile">

  {{#autoForm collection="UserProfiles" id="editProfileForm" doc=this type="update" autosave=true}}
  <!-- <legend>Add something</legend> -->

  <div style="text-align:left;">

    <fieldset>
      <legend>Edit Profile</legend>

	<ul class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#home">My Details</a></li>
		<li><a data-toggle="pill" href="#menu1">Contact Details</a></li>
    </ul>
	  
	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			{{> afQuickField name='name' placeholder='your first name + last name' autofocus=''}}
			{{> afQuickField name='user_employer' placeholder="what company do you work for ?" }}
			{{> afQuickField name='user_title' placeholder="what's your role ?" }}
			{{> afQuickField name='user_photo' placeholder='add a link to your profile pic'}}
		</div>
		<div id="menu1" class="tab-pane fade">
			{{> afQuickField name='contact_num' placeholder='your contact telephone number'}}
			{{> afQuickField name='contact_bool' }}
			{{> afQuickField name='mailout_monthly' }}
			{{> afQuickField name='mailout_updates' }}
		</div>
	</div>  
      

  </fieldset>

    </div>

  {{/autoForm}}


</template>
